:root {
  --primary: white;
  --sec:  #e5177c;
  --thered: #b9cad1;
  ;
}

html {
     background: url(./assetes/228239392_2873131242998126_110488355281895925_n.jpg);
  background-size: cover;
  font-size: 22px;
  font-family: poppins;
  color: white;
}

body {
  width: 90vw;
  background: rgb(255 255 255 / 35%);
  box-shadow: 0 8px 32px 0 rgba(128, 135, 31, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 60px;
  border: 1px solid rgba(255, 255, 255);
  margin: auto;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

h1 {
  font-size: 70px;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
  margin: 0px;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}

nav ul,
#programs ul {
  padding-inline-end: 40px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  width: 50%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  transition: cubic-bezier(0.61, 0.11, 0.88, 0.47);
  transition: 100ms;
}
nav ul li:hover {
     background: var(--primary);
     box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
     backdrop-filter: blur(12px);
     -webkit-backdrop-filter: blur(12px);
     color: var(--sec);
}

#banner {
  width: 90vw;
  display: grid;
  padding-top: 60px;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: start;
}

#banner div {
  margin: 0 126px 0 126px;
}

#banner div img {
  width: 100%;
}

#programs {
  margin: 10px 0 10px 0;
}

#programs ul img {
  width: 100px;
  padding: 10px;
}

#programs ul li {
 
  border-radius: 50%;
  transition: cubic-bezier(0.61, 0.11, 0.88, 0.47);
  transition: 100ms;
}
#programs ul li:hover {
  background: var(--primary);
  box-shadow: 0 8px 32px 9px rgb(31 38 135 / 37%);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}

#social-icon {
  position: fixed;
  left: 0px;
  top: 50%;
  transform: translate(-150%, -50%);
  font-size: 1.3rem;
}
#social-icon ul {
  display: block;
  list-style: none;
}
#social-icon ul li {
  margin-bottom: 15px;
}
#social-icon ul li:hover {
     color: var(--thered);
 
}
